<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="cls1" class="com.bridgeLabz.ConsInjectionOfMap.classA">
		<constructor-arg name="id" value="1"></constructor-arg>
		<constructor-arg name="name" value="Snehal Akkar"></constructor-arg>
		<constructor-arg name="address" value="ojhar"></constructor-arg>
	</bean>

	<bean id="cls11" class="com.bridgeLabz.ConsInjectionOfMap.classA">
		<constructor-arg name="id" value="2"></constructor-arg>
		<constructor-arg name="name" value="soni Akkar"></constructor-arg>
		<constructor-arg name="address" value="nashik"></constructor-arg>
	</bean>
	<bean id="cls2" class="com.bridgeLabz.ConsInjectionOfMap.ClassB">
		<constructor-arg name="pencil" value="apsara"></constructor-arg>
		<constructor-arg name="rubber" value="natraj"></constructor-arg>
		<constructor-arg name="scale" value="hifi"></constructor-arg>
	</bean>

	<bean id="cls22" class="com.bridgeLabz.ConsInjectionOfMap.ClassB">
		<constructor-arg name="pencil" value="hp"></constructor-arg>
		<constructor-arg name="rubber" value="sonata"></constructor-arg>
		<constructor-arg name="scale" value="superb"></constructor-arg>
	</bean>

	<bean id="mp" class="com.bridgeLabz.ConsInjectionOfMap.MapImplementation">
		<constructor-arg name="comname" value="bridgeLabz"></constructor-arg>
		<constructor-arg name="ranking" value="111"></constructor-arg>
		<constructor-arg>
			<map>
				<entry key-ref="cls1" value-ref="cls2"></entry>
				<entry key-ref="cls11" value-ref="cls22"></entry>
			</map>
		</constructor-arg>
	</bean>

</beans>